{% extends "base.html" %}
{% block body %}
<!-- REMINDER: probably don't need this in index.html -->
<!--
{% for item in LIST %}
<p> {{ item[0] }} - {{ item[1] }} </p>
{% endfor %}

<br><br>
-->

<!-- search textbox
clear list button -->
<div id="div-1">

	<form id="_form" action="/" method="post">
		<input id="keyword-textbox" type="text" name="query" placeholder="Enter a keyword to search...">
	</form>

	<form id="_form" action="{{ url_for('.clear_list') }}" method="get">
		<input class="btn btn-lg btn-primary clb" type="submit" value="Clear list"/>
	</form>

</div>

{% block results %}{% endblock %}

<!-- TODO: Figure out how to inform user about whether its processing/downloading -->
<!-- REMINDER: probably don't need this in index.html -->
<!--
<div id="div-1">

	<form id="_form" action="{{ url_for('.download') }}" method="post">
		<textarea name="song_input" cols="40" rows="30" class="inputText" id="inputText1" placeholder="List the songs here."></textarea>
		<input id="keyword-textbox" type="submit" value="Download"/>
	</form>

</div>
-->
{% endblock %}