{% extends "base.html" %}
{% block body %}
<!-- TODO: show the list even on result.html -->
<!-- <h3 id="list-header">List:</h3> -->

{% for item in LIST %}
<p> {{ item[0] }} - {{ item[1] }} </p>
{% endfor %}

<!-- TODO: Figure out how to inform user about whether its processing/downloading -->
<div id="div-1">

	<form id="_form" action="{{ url_for('.download') }}" method="post">
		<textarea name="song_input" cols="40" rows="30" class="inputText" id="inputText1" placeholder="List the songs here."></textarea>
		<input class="btn btn-lg btn-primary clb" id="keyword-textbox" type="submit" value="Download"/>
	</form>

</div>
{% endblock %}